/************* your name: 

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5
*/

/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.flex {
    display: flex;
}

/******** header footer ********/

h1 {
    display: inline-block;
    font-size: 48px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 150px);
}
  
h2 {
    font-size: 36px;
    margin-bottom: 12px;
}
  
.large-text {
    font-size: 24px;
}
  
.fake-button {
    background-color: #E5AF42;
    text-align: center;
    line-height: 3;
    border: 1px solid #000000;
}
  

a {
    text-decoration: none;
    color: #000000;
}
  
main a:hover, footer a:hover {
    text-decoration: underline;
}
  

.fake-button:hover, .blue-hover:hover {
    text-decoration: underline;
    background-color:cornflowerblue;
    color: #FFFFFF;
    cursor: pointer;
}

header {
    background-color: #E5AF42;
    height: 150px;
}

header img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    
}

footer {
    background-color: #E5AF42;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

footer p {
    margin: 0;
    text-align: center;
}

/******* index ********/

main.index {
    margin-top: 25px;
    margin-bottom: 50px;
}

.index {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
.about-us {
    flex-basis: calc(100% - 325px);
}
  
.about-us h2 {
    line-height: 48px;
}
  
.about-us p {
    margin-bottom: 12px;
}
  
.index img {
    width: 300px;
    margin-bottom: 50px;
    margin-left: 25px;
}
  
.index .fake-button {
    justify-content: center;
    width: 250px;
    color: black;
    line-height: 3;
    border: 1px solid black;
    margin-left: 150px;
}
 
/******* booking *******/

.booking-page {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
.booking-page p, .booking-page li {
    font-size: 18px;
}
  
.day-selector {
    margin-bottom: 12px;
}
  
.day-selector li {
    width: 60px;
    margin-right: 20px;
    border: 1px solid black;
}
  
.small-button {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}
  
.clicked {
    background-color:#E5AF42
}
  
.top-margin {
    margin-top: 24px;
    margin-bottom: 12px;
}
  
#clear-button {    
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.booking-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******* contact *******/

#contact-page {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
label {
    display: block;
    width: 150px;
    text-align: right;
    margin-right: 24px;
}
  
input[type="text"], input[type="email"], textarea {
    font-family: inherit;
    line-height: 24px;
    font-size: 16px;
    border: 2px solid #ccc;
    width: 300px;
    margin-bottom: 24px;
}
  
textarea {
    height: 150px;
}
  
#submit-button {
    border: 2px solid #333;
    padding: 8px 111px;
    font-family: inherit;
    line-height: 24px;
    font-size: 16px;
    margin-left: 175px;
}
